.project_leaders_grids {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.project_leaders_grid {
  width: 50%;
}

.top_leaders_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  width: 79%;
}
.top_leaders_filter_item {
  width: 25%;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 12px;
  height: 40px;
  padding: 11px 14px 11px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.dark_mode .top_leaders_filter_item {
  border: 2px solid rgb(50, 54, 118);
}
.top_leaders_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
  margin-top: 21px;
}

.top_leader_card {
  height: 279px;
  width: 33%;
  position: relative;
}
.top_leader_card_bg,
.top_leader_card_bg_dark {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.top_leader_card_bg_dark {
  display: none;
}
.dark_mode .top_leader_card_bg {
  display: none;
}
.dark_mode .top_leader_card_bg_dark {
  display: block;
}
.top_leader_card_content {
  position: relative;
  width: 100%;
margin-top: 50px;
padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: rgb(255, 255, 255);
  border-radius: 22px;
}
.dark_mode .top_leader_card_content {
  background: rgb(51, 46, 113);
}
.top_leader_card_img {
  box-sizing: border-box;
  border: 0.99px solid rgb(239, 240, 246);
  width: 109px;
  height: 109px;
  padding: 5px;
  border-radius: 50%;
  position: relative;
}
.top_leader_card_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.top_leader_place {
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -13px;
}
.top_leader_card_desc {
  margin-top: 15px;
}
.top_leader_card_desc h3 {
  color: rgb(31, 42, 59);
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
}
.top_leader_card_desc h4 {
  color: rgb(95, 105, 255);
  font-family: Nunito;
  font-size: 11px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.dark_mode .top_leader_card_desc h3 {
  color: #fff;
}
.top_leader_card_desc p {
  color: rgb(139, 148, 161);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.top_leader_card_rect {
  position: absolute;
  right: 33px;
  top: 13px;
}

@media only screen and (max-width: 1000px) {
  .top_leaders_list {
    flex-direction: column;
  }
  .top_leader_card_bg,
  .top_leader_card_bg_dark {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .top_leader_card {
    width: 467px;
  }
  .project_leaders_grid .question_list_item {
    flex-direction: row;
  }
  .top_leaders_list_wrapper .blocks_title {
    flex-direction: column;
    align-items: start;
  }
  .top_leaders_filter {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .top_leaders_filter {
    flex-direction: column;
  }
  .top_leaders_filter_item,
  .project_leaders_grid {
    width: 100%;
  }
  .project_leaders_grids {
    flex-direction: column;
    gap: 0;
  }
}

@media only screen and (max-width: 480px) {
  .top_leader_card {
    width: 100%;
  }
}