.login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  padding: 46px 0 70px;
}

.login_block {
  border-radius: 22px;
  overflow: hidden;
  position: relative;
  width: 457px;
}
.login_block_bg {
  position: absolute;

  left: 0;
  top: 0;
  z-index: 1;
  fill: rgb(255, 255, 255);
}
.login_block .login_block_title {
  position: relative;
  z-index: 2;
  padding-top: 18px;
  padding-left: 28px;
}
.login_block .login_block_title h2 {
  margin: 0;
}
.dark_mode .login_block_bg {
  fill: rgb(95, 105, 255);
}
.login_block_rect {
  position: absolute;
  top: 18px;
  left: 190px;
  fill: rgb(95, 105, 255);
}
.dark_mode .login_block_rect {
  fill: #fff;
}
.login_block_content {
  position: relative;
  z-index: 2;
  padding: 18px 28px 34px;
  border-radius: 22px;
  background: #fff;
}
.dark_mode .login_block_content {
  background: rgb(96, 105, 255);
}

.login_block_title h2 {
  color: rgb(31, 42, 59);
  font-family: Nunito;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 17px;
}
.dark_mode .login_block_title h2 {
  color: rgb(255, 255, 255);
}
.login_input input {
  box-sizing: border-box;
  border: 2px solid rgb(239, 239, 246);
  border-radius: 12px;
  height: 50px;
  width: 100%;
  text-indent: 21px;
  color: rgb(76, 91, 114);
  font-family: Nunito;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}
.dark_mode .login_input input {
  border: 2px solid rgb(124, 131, 250);
  background: transparent;
  color: #fff;
}
.dark_mode .login_input input::placeholder {
  color: rgb(255, 255, 255);
}

.login_socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 25px;
  border-top: 1px solid rgb(238, 238, 246);
}
.login_socials p {
  color: rgb(76, 91, 114);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}
.dark_mode .login_socials p {
  color: #fff;
}

.login_socials_list {
  display: flex;
  align-items: center;
  gap: 5px;
}
.login_socials_list div {
  cursor: pointer;
  box-sizing: border-box;
  border: 1.68px solid rgb(239, 239, 246);
  border-radius: 10.09px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_socials_list div svg {
  fill: rgb(95, 104, 255);
}
.dark_mode .login_socials_list div svg {
  fill: #fff;
}

.dark_mode .login_content_actions button {
  background: rgb(255, 255, 255);
  color: rgb(96, 105, 255);
}
/* auth */

.auth_page_wrapper {
  display: flex;
  align-items: center;
  border-radius: 22px;
  width: 100%;
  padding: 18px 24px 24px;
  width: 882px;
  background: rgb(255, 255, 255);
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.dark_mode .auth_page_wrapper {
  background: rgb(96, 105, 255);
}
.auth_form {
  width: 50%;
  border-right: 1px solid rgb(238, 238, 246);
  padding-right: 33px;
}
.dark_mode .auth_form {
  border-right: 1px solid rgb(124, 131, 250);
}

.auth_form .ask_from_send_btn .m_btn {
  padding-left: 39px;
  padding-right: 39px;
  height: 50px;
}
.dark_mode .auth_form .ask_from_send_btn .m_btn {
  background: rgb(255, 255, 255);
  color: rgb(96, 105, 255);
}
.auth_form .ask_from_send_btn p,
.auth_form .ask_from_send_btn p a {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.dark_mode .auth_form .ask_from_send_btn p,
.dark_mode .auth_form .ask_from_send_btn p a {
  color: rgb(204, 221, 248);
}
.select_gender {
  margin: 9px 0 17px;
  display: flex;
  align-items: center;
  gap: 13px;
}
.select_gender p {
  color: rgb(76, 91, 114);
  font-family: Nunito;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}
.dark_mode .select_gender p,
.dark_mode .select_gender_items div span {
  color: rgb(255, 255, 255);
}
.select_gender_items {
  display: flex;
  align-items: center;
  gap: 18px;
}
.select_gender_items div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.select_gender_items div span {
  color: rgb(76, 91, 114);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.select_gender_items input {
  width: 18px;
  height: 18px;
  border-radius: 6px;
  cursor: pointer;
  background: rgb(238, 239, 246);
}

.auth_socials {
  width: 50%;
  flex-direction: column;
  gap: 20px;
  border: none;
}

.auth_socials p {
  text-align: center;
}
.dark_mode .auth_socials p {
  color: rgb(255, 255, 255);
}
.auth_page {
  position: relative;
}
.auth_page .login_block_title {
  padding-top: 18px;
  padding-left: 28px;
  margin: 0;
  position: relative;
  z-index: 2;
}
.auth_page .login_block_title h2 {
  margin: 0;
}
.auth_block_bg {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 5px;
  fill: #fff;
}

.dark_mode .auth_block_bg {
  fill: rgb(96, 105, 255);
}
.auth_block_rect {
  position: absolute;
  left: 190px;
  top: 20px;
  fill: rgb(96, 105, 255);
}
.dark_mode .auth_block_rect {
  fill: #fff;
}

.auth_socials .ask_from_send_btn {
  display: none;
}
@media only screen and (max-width: 920px) {
  .login_container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .auth_page_wrapper,
  .auth_page {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .auth_page_wrapper {
    flex-direction: column;
    gap: 16px;
  }
  .auth_form {
    width: 100%;
    border-right: none !important;
    border-bottom: 1px solid rgb(238, 238, 246);
    padding-right: 0;
    padding-bottom: 18px;
  }
  .auth_socials {
    width: 100%;
    padding-top: 0;
    margin-top: 0;
  }
  .auth_socials p:first-child br {
    display: none;
  }
  .auth_form .ask_from_send_btn {
    display: none;
  }
  .auth_socials .ask_from_send_btn {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ask_from_send_btn button {
    width: 100%;
  }
  .auth_socials p,
  .auth_socials p a {
    color: rgb(137, 154, 181);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
  }
  .dark_mode .ask_from_send_btn button {
    background: rgb(255, 255, 255);
    color: rgb(96, 105, 255);
  }
  .dark_mode .auth_socials p,
  .dark_mode .auth_socials p a {
    color: rgb(204, 221, 248);
  }
}

@media only screen and (max-width: 500px) {
  .auth_page {
    overflow: hidden;
  }
  .login_content_actions {
    display: flex;
    flex-direction: column-reverse;
    gap: 18px;
  }
  .login_content_actions .login_socials {
    display: flex;
    gap: 18px;
    flex-direction: column;
  }
  .login_socials p {
    text-align: center;
  }
  .login_socials p br {
    display: none;
  }
}
