@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background: #e7e9f6;
}
.dark_mode {
  background: #23265b;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}

input,
textarea {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  padding: 30px 0;
}
.secondary_text {
  color: rgb(139, 148, 161);
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;

  letter-spacing: 0%;
  text-align: left;
}
.dark_mode .secondary_text {
  color: rgb(204, 221, 248);
}

.pages_navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.pages_navigation p {
  font-family: Nunito;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(137, 154, 181);
  cursor: pointer;
}
.pages_navigation span {
  color: rgb(188, 197, 211);
}
.pages_navigation img {
  width: 4px;
}
.ask_from_send_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ask_from_send_btn p,
.ask_from_send_btn p a {
  color: rgb(137, 154, 181);
  font-family: Nunito;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.ask_from_send_btn p a {
  text-decoration: underline;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
}

.m_btn {
  height: 50px;
  padding: 0 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgb(255, 255, 255);
  color: rgb(31, 42, 59);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  transition: all 0.4s ease;
}
.m_btn:hover {
  transition: all 0.4s ease;
  background: rgb(84, 91, 222);
  color: #fff;
}
.m_btn svg {
  transition: all 0.4s ease;
}
.m_btn:hover svg {
  fill: #fff;
}
.dark_mode .m_btn {
  color: #fff;
  background: rgb(96, 105, 255);
}
.m_btn svg {
  fill: rgb(96, 105, 255);
}
.dark_mode .m_btn svg {
  fill: #fff;
}
.mode_toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category_btn {
  border-radius: 12px;
  color: rgb(255, 255, 255);
  background: rgb(96, 105, 255);
  transition: all 0.4s ease;
}
.category_btn svg {
  fill: #fff;
}
.dark_logo {
  display: none;
}
.dark_mode .dark_logo {
  display: block;
}
.dark_mode .light_logo {
  display: none;
}
.category_btn:hover {
  background: rgb(84, 91, 222);
  transition: all 0.4 ease;
}
.m_btn_icon {
  padding: 0 17px;
}
.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 86%;
}

.search_input {
  width: 100%;
  max-width: 629px;
  display: flex;
  align-items: center;
  position: relative;
}
.search_input input {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: none;
  text-indent: 48px;
  background: rgb(255, 255, 255);
  color: #000;
  font-family: Nunito;
  font-size: 13px;
  font-weight: 500;

  letter-spacing: 0%;
  text-align: left;
}
.search_input input::placeholder {
  color: rgb(137, 154, 181);
}
.dark_mode .search_input input {
  border: 1px solid rgb(96, 105, 255);
  background: transparent;
  color: #fff;
}

.search_input svg {
  position: absolute;
  cursor: pointer;
  left: 19px;
}

.blocks_title h2 {
  color: rgb(31, 42, 59);
  font-family: Nunito;
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
}
.dark_mode .blocks_title h2 {
  color: #fff;
}

.blocks_title {
  margin-bottom: 16px;
}
.subjects_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.subject_item {
  border-radius: 22px;
  width: 268px;
  height: 199px;
  position: relative;
  background: url(../assets/images/subject-bg.svg);
  background-repeat: no-repeat;
  padding: 22px;
}
.dark_mode .subject_item {
  background: url(../assets/images/subject-bg-d.svg);
}
.subject_item h3 {
  color: rgb(31, 42, 59);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
  cursor: pointer;
}
.dark_mode .subject_item h3 {
  color: #fff;
}
.subject_item h3:hover {
  text-decoration: underline;
}
.subject_item_list_item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.subject_item_icon {
  position: absolute;
  width: 52px;
  height: 52.5px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: -16px;
}
.dark_mode .subject_item_icon {
  background: rgb(96, 105, 255);
}
.subject_item_icon svg {
  fill: rgb(96, 105, 255);
}
.dark_mode .subject_item_icon svg {
  fill: #fff;
}

.subject_item_list_item p {
  color: rgb(76, 91, 114);
  font-family: Nunito;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.dark_mode .subject_item_list_item p,
.dark_mode .subject_item_more p {
  color: rgb(204, 221, 248);
}
.subject_item_list_item p:hover {
  text-decoration: underline;
}

.subject_item_more {
  display: flex;
  align-items: center;
  padding-left: 12px;
  justify-content: space-between;
  margin-top: 12px;
}
.subject_item_more p {
  color: rgb(139, 148, 161);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.line {
  margin: 25px auto;
  width: 100%;
  height: 1px;
  background-color: rgb(224, 226, 239);
}
.dark_mode .line {
  background: rgb(50, 54, 118);
}

.blocks_title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.questions_filter {
  display: flex;
  align-items: center;
  gap: 5px;
}
.s_btn {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(98, 106, 255);
  border-radius: 12px;
  padding: 0 24px;
  background: rgb(255, 255, 255);
  color: rgb(31, 42, 59);
  font-family: Nunito;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.dark_mode .s_btn {
  background: transparent;
  color: #fff;
}

.questions_filter .s_btn {
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
}
.questions_filter .s_btn:hover {
  color: #fff;
  background: linear-gradient(
    158.51deg,
    rgb(100, 107, 255) 34.764%,
    rgb(87, 100, 255) 103.415%
  );
  border: 1px solid transparent;
}
.dark_mode .questions_filter .s_btn {
  color: rgb(204, 221, 248);
  border: 2px solid rgb(50, 54, 118);
}
.s_btn_active {
  background: linear-gradient(
    158.51deg,
    rgb(100, 107, 255) 34.764%,
    rgb(87, 100, 255) 103.415%
  ) !important;
  border: none !important;
  color: #fff;
}
.s_btn_active:hover {
  background: linear-gradient(
    158.51deg,
    rgb(66, 74, 225) 34.764%,
    rgb(54, 67, 207) 103.415%
  ) !important;
}
.questions_block_search {
  max-width: 100%;
  margin-bottom: 10px;
}
.questions_block_search svg {
  fill: rgb(96, 105, 255);
}

.questions_block_search .s_btn {
  position: absolute;
  right: 10px;
}
.question_list_item {
  border-radius: 12px;
  margin-bottom: 5px;
  background: rgb(255, 255, 255);
  padding: 12px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease;
}
.question_list_item:hover {
  transition: all 0.4s ease;
  background: rgb(98, 106, 255);
}
.question_list_item:hover .s_btn {
  transition: all 0.4s ease;
  background: rgb(98, 106, 255);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}
.question_list_item:hover .s_btn svg {
  transition: all 0.4s ease;
  fill: #fff;
}
.question_list_item:hover .s_btn_active {
  transition: all 0.4s ease;
  background: rgb(255, 255, 255) !important;
  color: rgb(96, 105, 255);
}
.question_list_item:hover .main_text {
  transition: all 0.4s ease;
  color: rgb(255, 255, 255);
}
.question_list_item:hover .question_list_item_left span {
  transition: all 0.4s ease;
  color: rgb(255, 255, 255);
  color: rgb(195, 199, 251);
}
.dark_mode .question_list_item {
  background: rgb(64, 53, 134);
}

.question_list_item_left {
  display: flex;
  align-items: center;
  gap: 14px;
}
.question_list_item_left div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.question_list_item_left img {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.dark_mode .question_list_item_left img {
  border: 1px solid rgb(98, 106, 255);
}

.main_text {
  color: rgb(31, 42, 59);
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.dark_mode .main_text {
  color: #fff;
}

.question_list_item_left span {
  color: rgb(139, 148, 161);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;

  letter-spacing: 0%;
  text-align: left;
}

.question_list_item_right {
  display: flex;
  align-items: center;
  gap: 19px;
}
.question_list_item_users {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.question_list_item_users img {
  width: 30px;
  height: 30px;
  margin-left: -15px;
  cursor: pointer;
}
.question_list_item_users p {
  margin-left: 8px;
}
.question_list_item_right_actions {
  display: flex;
  align-items: center;
  gap: 5px;
}
.s_btn_icon {
  padding: 0 12px !important;
  display: flex;
  align-items: center;
}
.s_btn_icon svg {
  fill: rgb(96, 105, 255);
}
.dark_mode .s_btn_icon svg {
  fill: #fff;
}

.show_more_btn {
  color: rgb(139, 148, 161);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 20px;
  transition: all 0.4s ease;
}
.show_more_btn svg {
  fill: rgb(98, 106, 255);
}
.dark_mode .show_more_btn {
  color: rgb(204, 221, 248);
}
.dark_mode .show_more_btn svg {
  fill: #fff;
}
.show_more_btn:hover {
  transition: all 0.4s ease;
  opacity: 0.7;
}
.show_more_btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tops_block {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.tops_block_item {
  width: 33%;
}
.tops_block_item_top_subjects svg {
  fill: #626aff;
}
.dark_mode .tops_block_item_top_subjects svg {
  fill: #fff;
}
.tops_block_item_top_subjects .question_list_item {
  padding: 17px 24px;
}
.tops_block_item_top_subjects .question_list_item:hover svg {
  fill: #fff;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.footer_wrapper img {
  width: 145px;
}
.footer_wrapper p {
  color: rgb(139, 148, 161);
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}
.dark_mode .footer_wrapper p {
  color: rgb(204, 221, 248);
}

.footer_wrapper a:hover p {
  text-decoration: underline;
}
.questions_block_search textarea {
  display: none;
}
.question_item_top_data {
  display: none;
}
.dark_mode .questions_block_search textarea {
  border: 1px solid rgb(96, 105, 255);
  border-radius: 12px;
  background: transparent;
  color: #fff;
}
.dark_mode .questions_block_search textarea::placeholder {
  color: #fff;
}
.nav_mob_wrapper {
  position: fixed;
  background: rgb(98, 106, 255);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 16px 10px;
  transition: all 0.4s ease;
  transform: translateY(-100%);
}
.dark_mode .nav_mob_wrapper {
  background: rgb(32, 35, 87);
}
.nav_mob_wrapper_visible {
  transition: all 0.4s ease;
  transform: translateY(0);
}
.nav_mob_wrapper_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.nav_mob_wrapper_nav div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav_mob_wrapper_nav div button {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  padding: 0;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_mob_wrapper_nav div button svg {
  fill: rgb(98, 106, 255);
}
.mob_category_btn {
  width: 100%;
  border-radius: 12px;
  color: rgb(98, 106, 255);
  font-family: Nunito;
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}
.mob_category_btn svg {
  fill: rgb(98, 106, 255);
}
.mob_sec_item button {
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  justify-content: start;
  color: rgb(98, 106, 255);
}
.desc_mob_btn {
  display: none;
}
.dark_mode .nav_mob_wrapper_nav button {
  border-radius: 12px;

  background: rgb(255, 255, 255);
}
.nav_mob_wrapper_nav .mode_toggler svg {
  fill: rgb(98, 106, 255) !important;
}

.dark_mode .nav_mob_wrapper_nav .mode_toggler svg {
  fill: rgb(98, 106, 255);
}
/*  */
@media only screen and (max-width: 1460px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .subjects_list {
    width: 1440px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .subjects_list_wrapper {
    overflow-x: scroll;
  }
  .populars_block .blocks_title {
    margin: 0;
  }

  .subjects_list_wrapper::-webkit-scrollbar {
    width: 100%;
    height: 8px;
  }

  .subjects_list_wrapper::-webkit-scrollbar-track {
    border-radius: 44px;
    background: rgb(250, 250, 252);
  }
  .dark_mode .subjects_list_wrapper::-webkit-scrollbar-track {
    border-radius: 44px;
    background: rgb(23, 26, 63);
  }

  .subjects_list_wrapper::-webkit-scrollbar-thumb {
    border-radius: 44px;
    background: rgb(96, 105, 255);
  }
}
@media only screen and (max-width: 1000px) {
  .search_input_mob {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    height: 50px;
    margin-bottom: 10px;
  }
  .search_input_mob input {
    color: rgb(204, 221, 248);
    background: transparent;
  }
  .search_input_mob input::placeholder {
    color: rgb(204, 221, 248);
  }
  .search_input_mob svg {
    fill: #fff;
    color: #fff;
  }
  .nav_list .search_input {
    display: none;
  }
  .nav_list a,
  .nav_list .mode_toggler {
    display: none;
  }
  .nav_list button:last-child,
  .nav_list a:nth-child(6) {
    display: flex;
    width: 45px;
    height: 45px;
    padding: 0;
  }
  .nav_list a:nth-child(6) button {
    width: 45px;
    height: 45px;
  }
  .nav_list {
    width: auto;
  }
  .question_list_item {
    flex-direction: column;
    align-items: start;
    gap: 17px;
  }
  .questions_list .question_list_item_users {
    display: none;
  }
  .tops_block {
    flex-direction: column;
  }
  .tops_block_item {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .blocks_title {
    flex-direction: column;
    align-items: start;
  }
  .footer_wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .light_logo,
  .dark_logo {
    width: 142px;
  }
  .pages_navigation {
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  nav {
    padding: 13px 0;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .populars_block {
    margin-bottom: 20px;
  }
  .populars_block .line {
    display: none;
  }
  .blocks_title h2 {
    font-size: 22px;
  }
  .blocks_title {
    margin-bottom: 10px;
  }
  .question_list_item {
    padding: 20px;
  }
  .tops_block_item .question_list_item {
    padding: 12px 19px;
    flex-direction: row;
    align-items: center;
  }
  .question_list_item_right_actions .s_btn_icon {
    display: none;
  }
  .questions_list .question_list_item_left {
    flex-direction: column;
    align-items: start;
  }
  .questions_list .question_list_item_left span {
    padding-top: 10px;
  }
  .question_list_item_right_actions {
    width: 100%;
  }
  .questions_list .question_list_item_right {
    width: 100%;
  }
  .questions_list .question_list_item_right .s_btn {
    width: 45%;
    text-align: center;
  }
  .questions_list .question_list_item_right .s_btn_active {
    width: 55%;
    text-align: center;
  }
  .s_btn {
    padding: 0 16px;
  }
  .questions_block_search input {
    display: none;
  }
  .questions_block_search .s_btn {
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
  }
  .questions_block_search {
    padding-bottom: 50px;
  }
  .questions_block_search textarea {
    display: block;
    border-radius: 12px;
    height: 119px;
    width: 100%;
    background: rgb(255, 255, 255);
    border: none;
    padding: 16px 0 16px 50px;
    color: #000;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }
  .questions_block_search svg {
    top: 17px;
  }
  .tops_block .tops_block_item_top_subjects .question_list_item_users,
  .tops_block .tops_block_item:nth-child(2) .question_list_item_users {
    display: none;
  }
  .tops_block .tops_block_item_top_subjects .question_list_item {
    height: 65px;
  }
  .line {
    margin: 15px 0;
  }
  .show_more_btn {
    margin-top: 10px;
  }
  .questions_list .question_list_item_left img {
    display: none;
  }
  .question_item_top_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .question_item_top_data_left {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .question_item_top_data_right {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .question_item_top_data_left div {
    display: flex;
    flex-direction: column;
  }
  .question_item_top_data_left span {
    color: rgb(139, 148, 161);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;

    letter-spacing: 0%;
    text-align: left;
  }
}
